.DS_Store
Thumbs.db

node_modules/
**/node_modules/

.next/
out/

.nuxt/
dist/

npm-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log
*.log

.env
.env.*    # Nếu bạn có .env.local, .env.production, v.v.

.vscode/
.idea/
.eslintcache
*.swp
*.swo

coverage/

docker-compose.override.yml
*.pid

/build/
*.local